.MainDiv {
    margin: 5%;
    position: relative;
    margin-bottom: 10%;
    
}

.Information {
    background-image: linear-gradient(to bottom right, red, yellow);
    width: 45%;
    padding: 5%;
    border-radius: 10%;
    position: relative;
}

h2 {
    color: aliceblue;
    font-size: 1.3vw;
}

h1 {
    color: aliceblue;
    font-size: 1.6vw;
    margin-top: -16%;
}

img {
    width: 50%;
    margin-left: 50%;
}

.InsideText {
    position: absolute;
    width: 30%;
}

.Back {
    background-color: rgb(27, 27, 27);
    position: absolute;
}

.Paint {
    width: 30%;
    margin-left: 65%;
    margin-top: -23%;
    position: absolute;
}

